@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Monoton', cursive;
    letter-spacing: 4px;
}

.glow-card{
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
}

.d-hover{
    display: none;
    opacity: 0;
    transition: all .6s ease-in-out;
}

.ff-f:hover > .d-hover, .ff-f:active > .d-hover{
    display: block;
    opacity: 1;
}